body {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 60px;
}

.btn {
  background-color: #929aab;
  color: white;
  padding: 15px 20px;
  border-radius: 3px;
}

a {
  text-decoration: none;
}
