.blogginnlegg-innhold {
  width: 50%;
  margin: 50px auto 100px;
}

.blogginnlegg-innhold .tag {
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #eeeeee;
  display: inline;
  padding: 5px 10px;
  border-radius: 3px;
}

.blogginnlegg-innhold h1 {
  color: black;
  font-size: 60px;
  margin-top: 30px;
}

.blogginnlegg-innhold h2 {
  font-size: 40px;
  margin: 40px 0 20px 0;
}

.blogginnlegg-innhold h3 {
  font-size: 25px;
  margin: 20px 0;
}

.blogginnlegg-innhold .ingress {
  font-size: 20px;
  font-weight: bold;
}

.blogginnlegg-innhold img {
  display: block;
  margin: 50px auto;
  width: 100%;
}

.blogginnlegg-innhold .brodtekst {
  font-size: 16px;
  line-height: 1.7;
  margin: 0 0 40px 0;
}

@media (max-width: 900px) {
  .blogginnlegg-innhold {
    width: 90%;
  }

  .blogginnlegg-innhold .ingress {
    font-size: 15px;
  }

  .blogginnlegg-innhold .brodtekst {
    font-size: 14px;
    line-height: 1.5;
  }
}
