.footer {
  background-color: #929aab;
  padding: 30px;
  text-align: center;
}

.footer h4 {
  font-size: 25px;
  margin: 0;
}

.footer ul {
  padding: 0;
}

.footer li {
  list-style: none;
  line-height: 2;
}

.footer a {
  color: black;
  text-decoration: underline;
}

.footer .social-links {
  font-size: 30px;
}

.fa-brands {
  margin: 10px;
  transition: all 150ms ease-in-out;
}

.fa-brands:hover {
  opacity: 0.6;
}
