.gallery {
  background-color: #f7f7f7;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gallery h1 {
  color: black;
  margin-top: 50px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 50px 30px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 3px;
}

.gallery-grid p {
  margin: 5px 0 10px 0;
  text-align: left;
}
