.gallery {
  background-color: #f7f7f7;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gallery h1 {
  color: black;
  margin-top: 50px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 50px 30px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 3px;
}

.gallery-grid img:hover {
  scale: 1.05;
}

.gallery-grid p {
  margin: 5px 0 10px 0;
  text-align: left;
}

@media (max-width: 900px) {
  .gallery {
    padding: 10px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .gallery-grid p {
    font-size: 15px;
  }
}
