.kontakt-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  width: 80%;
  margin: 0 auto 100px;
}

.kontakt h1 {
  color: black;
  font-size: 70px;
  margin: 100px 0 0 190px;
}

.kontakt-grid h2 {
  font-size: 32px;
  width: 50%;
  font-weight: lighter;
}

.kontakt-grid ul {
  margin-top: 30px;
  padding: 0;
}

.kontakt-grid li {
  list-style: none;
  line-height: 2;
  font-size: 25px;
}

.kontakt-grid a {
  color: #393e46;
  text-decoration: underline;
}

.kontakt-grid form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form .message {
  width: 85%;
  height: 100px;
  resize: none;
}

.first-name,
.email,
.last-name,
.phone,
.message {
  width: 40%;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: monospace;
  font-size: 18px;
  padding: 5px;
}
