.kontakt-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto 100px;
}

.kontakt-grid-text,
.kontakt-grid-form {
  flex-grow: 1;
  flex-basis: 0;
}

.kontakt h1 {
  color: black;
  font-size: 70px;
  width: 60%;
  margin: 50px auto 20px;
}

.kontakt-grid h2 {
  font-size: 32px;
  width: 70%;
  font-weight: lighter;
}

.kontakt-grid ul {
  margin-top: 30px;
  padding: 0;
}

.kontakt-grid li {
  list-style: none;
  line-height: 2;
  font-size: 25px;
}

.kontakt-grid a {
  color: #393e46;
  text-decoration: underline;
}

.kontakt-grid form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form .message {
  width: 90%;
  height: 150px;
  resize: none;
}

.first-name,
.email,
.last-name,
.phone,
.message {
  width: 40%;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: monospace;
  font-size: 18px;
  padding: 5px;
}

@media (max-width: 500px) {
  .kontakt-grid {
    display: block;
    width: 80%;
  }

  .kontakt h1 {
    font-size: 60px;
    width: 80%;
  }

  .kontakt-grid h2 {
    font-size: 20px;
    width: 100%;
  }

  .kontakt-grid li {
    font-size: 15px;
  }

  form .message {
    height: 100px;
    width: 100%;
  }

  .first-name,
  .email,
  .last-name,
  .phone,
  .message {
    width: 100%;
    font-size: 12px;
  }
}
