.header {
  position: absolute;
  top: 45%;
  left: 5%;
}

h1 {
  font-size: 100px;
  color: white;
  margin: 0 0 40px 0;
  line-height: 1;
}

.btn {
  background-color: #393e46;
  color: white;
  padding: 15px 20px;
  border-radius: 3px;
  font-size: 15px;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background-color: #eeeeee;
  color: black;
}

a {
  text-decoration: none;
}

.border {
  background-color: #929aab;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.border-text {
  font-size: 30px;
  color: white;
  width: 80%;
  padding: 40px 0;
  margin: 0;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.3fr;
  grid-gap: 30px;
  margin: 100px 50px;
}

.grid img {
  width: 100%;
}

.grid p {
  font-size: 20px;
  margin: 10px 0 40px 0;
}

.grid .fa-arrow-right {
  font-size: 20px;
  color: black;
  border: 1px black solid;
  border-radius: 50%;
  padding: 7px 9px;
  transition: all 150ms ease-in-out;
}

.grid .fa-arrow-right:hover {
  opacity: 0.6;
  scale: 1.1;
}

.secondary-btn {
  background-color: #eeeeee;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 3px;
  font-size: 15px;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  transition: all 200ms ease-in-out;
}

.secondary-btn:hover {
  background-color: #393e46;
  color: white;
}

.grid .article-link {
  text-decoration: underline;
  color: black;
}

h2 {
  font-size: 50px;
  margin: 0;
}

h3 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
}

@media (max-width: 900px) {
  .header {
    top: 30%;
  }

  h1 {
    font-size: 50px;
  }

  .border-text {
    font-size: 15px;
    padding: 20px 0;
    width: 90%;
  }

  .grid {
    display: block;
  }

  .article-section {
    margin-top: 40px;
  }

  .grid p {
    font-size: 15px;
  }

  .grid .fa-arrow-right {
    font-size: 12px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  .grid .fa-arrow-right {
    display: none;
  }

  .btn,
  .secondary-btn {
    padding: 10px 15px;
    font-size: 12px;
  }
}
