.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .fa-feather-pointed {
  color: black;
  font-size: 30px;
  padding: 0 0 0 20px;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 20px 0 0;
}

.navbar li {
  list-style: none;
  padding: 15px 15px;
  font-size: 20px;
}

.navbar a {
  color: black;
  transition: all 200ms ease-in-out;
}

.navbar a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
